#footer {
    margin-top: 100px;
    background-color: #111;
    border-top: 1px solid #161616;
    font-size: 0.8rem;
    text-align: center;
    color: #666;
    padding: 20px 20px 20px 260px;

    a {
        padding: 10px 20px;
    }
}

@media (max-width: 800px){
    #footer {
        padding-left: 0;
    }
}