#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    border-right: 1px solid #161616;
    height: 100%;
    z-index: 10000;
    background-color: #000;
}

.header__logo {
    text-align: center;
    border-bottom: 1px solid #161616;
    text-transform: uppercase;

    a {
        display: flex;
        padding: 10px;
        margin: 10px;

        em {
            width: 40px;
            height: 40px;
            display: block;
            background-color: red;
            margin-right: 10px;
        }

        span {
            text-align: left;
            font-size: 20px;
            line-height: 1;
            font-weight: 900;
        }
    }
}

.header__cate {
    padding: 10px 0;

    ul {
        margin-bottom: 10px;
        
        li {
            a {
                color: #ebebeb;
                font-size: 1rem;
                display: block;
                position: relative;
                padding: 0.9rem 2rem 0.9rem 50px;
                line-height: 1;
                margin: 0 0.625rem;
                border-radius: 40px;
                transition: background-color 0.3s;
                
                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    position: absolute;
                    left: 1.25rem;
                    top: 0.75rem;
                }
                
                &:hover {
                    background-color: #202020;
                    color: #fff;
                }
            }
            
            &.active a {
                background-color: #202020;
                color: #fff;
            }
        }
    }
    .keyword {
        border-top: 1px solid #161616;
        padding: 1.25rem;
        
        li {
            display: inline-block;
            
            a {
                display: inline-block;
                padding: 7px 15px;
                margin: 3px 1px;
                border: 1px solid #202020;
                border-radius: 40px;
                font-size: 0.8rem;
            }
        }
    }
}
.header__sns {
    border-top: 1px solid #161616;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px 0 10px;
    background-color: #ffffff0b;
    backdrop-filter: blur(10px);

    li {
        display: inline-block;
        
        a {
            padding: 5px 7px;
            display: inline-block;
        }
    }
}



#contents {
    max-width: 2000px;
    min-height: 700px;
    margin: 0 auto;
    padding-left: 260px;
}

.search__inner {
    padding: 17px 40px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #161616;
    height: 81px;

    label {
        position: absolute;
        left: 53px; 
        top: 28px;
        width: 24px;
        height: 24px;
        background-image: url(../../img/icon/search.svg);
        background-size: cover;
    }
    input {
        background-color: #111;
        border: 1px solid #161616;
        border-radius: 40px;
        font-size: 16px;
        padding: 14px 45px;
        width: 100%;
        color: #fff;
    }
}

.today__inner {
    display: flex;
    // background-image: linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
    color: #fff;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    background-color: #111;

    .today__thumb {
        width: 40%;

        @media (max-width: 2000px){
            width: 600px;
        }
        @media (max-width: 1600px){
            width: 500px;
        }
        @media (max-width: 960px){
            width: 100%;
        }
    }
    .today__text {
        width: 60%;
        padding: 2rem;

        @media (max-width: 2000px){
            width: calc(100% - 600px);
        }
        @media (max-width: 2000px){
            width: calc(100% - 500px);
        }
        @media (max-width: 960px){
            width: 100%;
            padding: 16px;
        }

        .today {
            background-color: #b70208;
            padding: 2px 50px;
            display: inline-block;
            border-radius: 40px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .title {
            font-size: 2rem;
            margin-bottom: 1rem;
            @include line-one;

            @media (max-width: 960px){
                font-size: 20px;
                margin-bottom: 5px;
            }
        }
        .desc {
            margin-bottom: 1rem;
            @include line(4);

            @media (max-width: 1600px){
                @include line(3);
            }
        }
        .info {
            .author {
                font-size: 1rem;
                margin-right: 10px;
                font-weight: 900;
                text-decoration: underline;
                text-underline-position: under;
                text-transform: uppercase;
            }
            .date {
                font-size: 14px;
            }
        }
    }
}

// 
.develpoer__inner {
    display: flex;
    color: #fff;
    flex-wrap: wrap;

    .develpoer {
        color: #fff;
        text-align: center;
        margin-right: 20px;

        .develpoer__img {
            display: block;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;
        }
        .develpoer__info {
            width: 150px;
            text-align: center;
            @include line-one;
            padding-bottom: 40px;
        }
    }
}

// 
.video__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    .video {
        width: 19%;
        margin-bottom: 2%;
    
        @media (max-width: 1600px) {
            width: 19%;
        }
        @media (max-width: 1400px) {
            width: 24%;
        }
        @media (max-width: 1000px) {
            width: 32.333%;
            margin-bottom: 30px;
        }
        @media (max-width: 800px) {
            width: 49%;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
    
        .video__thumb {
            border-radius: 10px;
            overflow: hidden;
    
            a {
                position: relative;
                display: block;
                cursor: pointer;
                width: 100%;
                // padding-bottom: 56.25%;
                position: relative;
    
                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: #0000002e;
                    position: absolute;
                    left: 0; 
                    top: 0;
                    transition: background-color 0.3s;
                }
                &:hover::before {
                    background-color: #00000000;
                }
                &::after {
                    content: '';
                    width: 80px;
                    height: 80px;
                    background: #00000096 url(../../img/icon/play.svg) no-repeat center;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    opacity: 0;
                    transition: opacity 0.3s;
                }
                &:hover::after {
                    opacity: 1;
                }
            }
        }
    
        .video__info {
            color: #fff;
    
            .title {
                font-size: 1rem;
                margin: 6px 0;
                @include line-two;
            }
            .info {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                
                .author {
                    @include line-one;
                    color: #666;
                    transition: all 0.3s;
    
                    &:hover {
                        color: #fff;
                    }
                }
                .date {
                    font-size: 14px;
                    color: #666;
                }
            }
        }
    }
}




#footer {
    margin-top: 100px;
    background-color: #111;
    border-top: 1px solid #161616;
    font-size: 0.8rem;
    text-align: center;
    color: #666;
    padding: 20px 20px 20px 260px;
}